@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
body{
  font-family:  'Jost';
}
.signup{
    background: rgb(236, 236, 236);
}
.login{
    background: rgb(236, 236, 236);
}
.form_container{
    width: 30%;
}

@media screen and (max-width:1000px) {
    .form_container{
        width: 45%;
    }
}

@media screen and (max-width:700px) {
    .form_container{
        width: 65%;
    }
}

.card.scale-up {
    transition: transform 0.2s ease-in-out;
  }
  
  .card.scale-up:hover {
    transform: scale(1.1);
  }
  

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  